In [1]:
# import Libraries

import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime

In [7]:
# Create a list with all files in the folder using a list compehension

folderpath = r"C:\Users\okumb\Downloads\CitiBike-New-York\.venv\Data" # make sure to put the 'r' in front
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [8]:
filepaths

['C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202201-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202202-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202203-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202204-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202205-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202206-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202207-citbike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202208-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202209-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202210-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202211-citibike-tripdata.csv',
 'C:\\Users\\okumb\\Downloads\\CitiBike-New-York\\.venv\\Data\\JC-202212-citibike-tripdata.csv']

In [9]:
# Read and concatenate all files simultaneously

df_citibike = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [10]:
df_citibike.shape

(895485, 13)

In [11]:
df_citibike.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [12]:
df_citibike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [13]:
df_citibike.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

# New York LaGuardiaâ€™s weather station for 2022

In [19]:
# import the "C:\Users\okumb\Downloads\CitiBike-New-York\.venv\Data\3777758.csv" file

df_weather = pd.read_csv(r"C:\Users\okumb\Downloads\CitiBike-New-York\.venv\Data\3777770.csv")
df_weather.shape

(365, 12)

In [20]:
df_weather.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'TAVG',
       'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES', 'TMIN',
       'TMIN_ATTRIBUTES'],
      dtype='object')

In [21]:
df_weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-01-01,11.6,"H,,S",13.9,",,W",10.0,",,W"
1,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-01-02,11.4,"H,,S",15.6,",,W",3.9,",,W"
2,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-01-03,1.4,"H,,S",3.9,",,W",-4.3,",,W"
3,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-01-04,-2.7,"H,,S",2.2,",,W",-6.0,",,W"
4,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-01-05,3.2,"H,,S",8.9,",,W",0.0,",,W"

In [22]:
df_weather.tail()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
360,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-12-27,-0.7,"H,,S",1.7,",,W",-1.6,",,W"
361,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-12-28,3.4,"H,,S",8.3,",,W",0.6,",,W"
362,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-12-29,6.4,"H,,S",10.6,",,W",3.3,",,W"
363,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-12-30,9.3,"H,,S",15.6,",,W",3.3,",,W"
364,USW00014732,"LAGUARDIA AIRPORT, NY US",40.77945,-73.88027,3.0,2022-12-31,8.2,"H,,S",12.8,",,W",5.6,",,W"

In [23]:
# delete all cloumns (['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES', 'TMIN','TMIN_ATTRIBUTES'] in df_weather

df_weather.drop(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'TAVG_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES'], axis=1, inplace=True)
df_weather.head()

         DATE  TAVG
0  2022-01-01  11.6
1  2022-01-02  11.4
2  2022-01-03   1.4
3  2022-01-04  -2.7
4  2022-01-05   3.2

In [24]:
df_citibike.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [25]:
df_citibike['started_at'] = pd.to_datetime(df_citibike['started_at'], dayfirst = True)

C:\Users\okumb\AppData\Local\Temp\ipykernel_26708\1335013300.py:1: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_citibike['started_at'] = pd.to_datetime(df_citibike['started_at'], dayfirst = True)

In [26]:
df_citibike['ended_at'] = pd.to_datetime(df_citibike['ended_at'], dayfirst = True)

C:\Users\okumb\AppData\Local\Temp\ipykernel_26708\1680411451.py:1: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_citibike['ended_at'] = pd.to_datetime(df_citibike['ended_at'], dayfirst = True)

In [27]:
df_citibike['DATE'] = pd.to_datetime(df_citibike['started_at'], format='%Y-%m-%d').dt.date

In [28]:
df_citibike['DATE'] = pd.to_datetime(df_citibike['DATE'])

In [34]:
df_citibike.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
DATE                  datetime64[ns]
dtype: object

In [29]:
df_weather.head()

         DATE  TAVG
0  2022-01-01  11.6
1  2022-01-02  11.4
2  2022-01-03   1.4
3  2022-01-04  -2.7
4  2022-01-05   3.2

In [35]:
df_weather.dtypes

DATE     object
TAVG    float64
dtype: object

In [36]:
df_weather['DATE'] = pd.to_datetime(df_weather['DATE'])

In [37]:
df_weather.dtypes

DATE    datetime64[ns]
TAVG           float64
dtype: object

In [38]:
# Merging DataFrames on 'DATE' column with a left join and adding an indicator
df_Citimerged = df_citibike.merge(df_weather, how='left', on='DATE', indicator=True)

In [39]:
df_Citimerged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,DATE,TAVG,_merge
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,-2.3,both
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,0.1,both
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,1.6,both
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,-2.3,both
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,4.0,both

In [40]:
df_Citimerged['_merge'].value_counts(dropna = False)

_merge
both          895485
left_only          0
right_only         0
Name: count, dtype: int64

In [42]:
path = r"C:\Users\okumb\Downloads\CitiBike-New-York\.venv\Data"

In [43]:
df_Citimerged.to_csv('NewYork_data.csv')

In [44]:
df_Citimerged.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'DATE', 'TAVG', '_merge'],
      dtype='object')